image:
  - Visual Studio 2015
  - Visual Studio 2017
  - Visual Studio 2019
  - Ubuntu2004

clone_depth: 50

max_jobs: 4

environment:
  global:
    docker_ipv6: true
    MONOLITHIC: no
    TESTS_REDUCED_KEYLENGTHS: yes
    TZ: Europe/Zurich
    arch: x86_64
    bits: 64
    SONARCLOUD_LOGIN:
        secure: NzuE/IvDpmbBdfJWPHeBldaP010Cp6VJoO6maZ+ucWJlJtag1MeUbfdHrlHF9SnT
    DEPS_BUILD_DIR: ./dependencies/

  matrix:
    - TEST: win64
      MONOLITHIC: yes
    - TEST: wintun
      MONOLITHIC: yes
    - TEST: printf-builtin
      MONOLITHIC: yes
    - TEST: sonarcloud
      MONOLITHIC: no
    - TEST: wintun-sonarcloud
      MONOLITHIC: yes      
    - TEST: all
    - TEST: all
      MONOLITHIC: yes
    - TEST: coverage
    - TEST: all
      LEAK_DETECTIVE: yes
    - TEST: botan
    - TEST: openssl
    - TEST: openssl
      LEAK_DETECTIVE: yes
    - TEST: gcrypt
    - TEST: gcrypt
      LEAK_DETECTIVE: yes
    - TEST: apidoc
      MONOLITHIC: no

matrix:
  exclude:
    - image: Ubuntu2004
      TEST: wintun
    - image: Visual Studio 2017
      TEST: botan
    - image: Visual Studio 2017
      TEST: gcrypt
    - image: Visual Studio 2017
      TEST: openssl
    - image: Visual Studio 2017
      TEST: apidoc
    - image: Visual Studio 2017
      TEST: coverage
    - image: Visual Studio 2017
      TEST: all
      MONOLITHIC: no
    - image: Visual Studio 2017
      TEST: sonarcloud
      MONOLITHIC: no
    - image: Ubuntu2004
      TEST: wintun-sonarcloud
      MONOLITHIC: yes

# Don't build if it's a push with a tag
skip_tags: true

for:
- matrix:
    only:
      - image: Ubuntu2004
      - TEST: sonarcloud
  clone_depth: 0

  install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq bison flex gperf gettext libgmp-dev libssl-dev libgcrypt11-dev
  build_script:
    - ./scripts/test.sh deps
    - ./scripts/test.sh pydeps
  test_script:
    - ./scripts/test.sh

- matrix:
    only:
      - image: Ubuntu2004

  install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq bison flex gperf gettext libgmp-dev libssl-dev libgcrypt11-dev
  build_script:
    - ./scripts/test.sh deps
    - ./scripts/test.sh pydeps
  test_script:
    - ./scripts/test.sh

- matrix:
    except:
      - image: ubuntu2004
  build_script:
    - '%MSYS_SH% --login -c ". /etc/profile && cd $APPVEYOR_BUILD_FOLDER && ./scripts/test.sh deps"'
  test_script:
    - '%MSYS_SH% --login -c ". /etc/profile && cd $APPVEYOR_BUILD_FOLDER && ./scripts/test.sh"'
  install:
    - set CCACHE_DIR=C:\CCACHE
    - set MSYS_SH=C:\msys%BITS%\usr\bin\sh.exe
    - set MSYSTEM=MINGW%BITS%
artifacts:
    - path: config.h
